.section-container {
  background: #fff;
  display: flex;
  position: relative;
  padding: 8vh 8vw 8vh 8vw;
  min-width: 84vw;
  min-height: 100vh;
  justify-content: space-between;
}

.hero-text-container {
  margin-top: 0.5vh;
}

.hero-text-container p,
.hero-text-container h2,
.hero-text-container h3 {
  font-weight: 1000;
  color: #000;
}

.hero-text-container p {
  font-size: 1rem;
  line-height: 3rem;
}

.hero-text-container h2 {
  font-size: 3.5rem;
  line-height: 4.5rem;
}

.hero-text-container h3 {
  font-size: 3.1rem;
  line-height: 4.5rem;
}

.cards-container {
  margin-top: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 84vw;
  flex-wrap: wrap;
}

.first-card h4,
.second-card h4,
.third-card h4 {
  color: #fff;
  font-size: 1.75rem;
}

.first-card h5,
.second-card h5,
.third-card h5 {
  color: #fff;
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 2.5rem;
}

.first-card p,
.second-card p,
.third-card p {
  color: #fff;
  font-size: 0.75rem;
  line-height: 1.5rem;
}

.first-card {
  background: #286f6c;
}

.second-card {
  background: #fcda69;
  margin-top: -15vh;
}

.third-card {
  background: #8873ef;
  margin-top: -30vh;
}

.button-container {
  display: flex;
  margin-top: 10vh;
  background: #000;
  color: #fff;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  align-items: center;
  justify-content: center;
  font-size: 0.65rem;
  position: absolute;
  bottom: 4vh;
  right: 8vw;
  z-index: 10;
}

.button-wrapper {
  border: dashed #8873ef 0.1rem;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  display: inline;
  scale: 150%;
  margin-left: 0.1rem;
  color: #8873ef;
}

.button-container:hover {
  background: #393939;
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 992px) {
  .second-card {
    margin-top: 0;
  }

  .third-card {
    margin-top: 5vh;
  }

  .button-container {
    bottom: 25vh;
    right: 20vw;
  }
}

@media screen and (max-width: 768px) {
  .section-container {
    flex-direction: column;
    padding: 4vh 8vw 0 8vw;
    margin-bottom: 8vh;
  }

  .hero-text-container p {
    font-size: 0.85rem;
    line-height: 2.5rem;
  }

  .hero-text-container h2 {
    font-size: 3rem;
    line-height: 4rem;
  }

  .hero-text-container h3 {
    font-size: 2.6rem;
    line-height: 4rem;
  }

  .first-card p,
  .second-card p,
  .third-card p {
    flex-wrap: wrap;
    width: 40vw;
    line-height: 1.5rem;
  }

  .second-card {
    margin-top: 5vh;
  }

  .button-container {
    top: 0vh;
    right: 10vw;
  }
}

@media screen and (max-width: 576px) {
  .section-container {
    width: 115vw;
    padding: 4vh 8vw 0 8vw;
  }

  .button-container {
    right: 15vw;
  }

  .first-card p,
  .second-card p,
  .third-card p {
    width: 55vw;
  }
}

@media screen and (max-width: 375px) {
  .first-card p,
  .second-card p,
  .third-card p {
    width: 60vw;
  }
}
