.card-container {
  position: relative;
  border-radius: 18px;
  width: 25vw;
  height: 55vh;
  padding-top: 1rem;
  overflow: hidden;
}

.card-container h4 {
  font-size: 1.75rem;
  font-weight: 600;
  padding: 0 2rem;
}

.card-container h5 {
  padding: 0 2rem;
}

.card-container p {
  padding: 0 2rem;
}

.card-img {
  max-width: 100%;
  height: auto;
  transform: rotate(-25deg);
  position: absolute;
  bottom: -15%;
  right: -10%;
  opacity: 90%;
}

.card-container:hover {
  opacity: 75%;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .card-container {
    width: 40vw;
    height: 55vh;
  }

  .card-img {
    scale: 80%;
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    width: 84vw;
    height: 55vh;
  }

  .card-img {
    bottom: -15%;
    right: -25%;
  }
}

@media screen and (max-width: 576px) {
  .card-container {
    width: 94vw;
  }
}

@media screen and (max-width: 375px) {
  .card-img {
    bottom: 0;
    right: -22%;
    scale: 100%;
  }
}
