.section-container {
  background: #fff;
  display: flex;
  position: relative;
  margin-top: 5vh;
  padding: 12vh 8vw 0 8vw;
  min-width: 84vw;
  min-height: 90vh;
  justify-content: space-between;
}

.hero-text-container {
  margin-top: 5vh;
}

.hero-text-container p {
  font-size: 1rem;
  font-weight: 1000;
  line-height: 3rem;
  color: #000;
}

.hero-text-container h2 {
  font-size: 3.5rem;
  font-weight: 1000;
  line-height: 4.5rem;
  color: #000;
}

.hero-text-container h3 {
  font-size: 3.1rem;
  font-weight: 1000;
  line-height: 4.5rem;
  color: #000;
}

.hero-text-container button {
  margin-right: 1.2vw;
  margin-top: 3vh;
  padding: 0.9rem 1.1rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.button-contact {
  border: none;
  border-radius: 18px;
  background: #286f6c;
  color: #fff;
}

.airplane {
  display: inline;
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
  transform: rotate(-45deg);
  scale: 105%;
}

.button-contact:hover {
  background: #286f6cc2;
}

.button-work {
  border: none;
  border-radius: 18px;
  color: #000;
}

.arrow {
  display: inline;
  scale: 150%;
  margin-left: 0.5rem;
  color: #000;
}

.button-work:hover {
  background: #e1e1e1a3;
}

.landing-socials-container {
  display: flex;
  align-items: center;
  margin-top: 10vh;
}

.landing-socials-container p {
  font-size: 0.7rem;
  color: #000;
}

.socials-logo-wrapper {
  width: 4rem;
  height: 4rem;
  background: #ededed;
  border-radius: 50%;
  margin-left: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.linkedIn {
  scale: 175%;
  color: #000;
}

.gitHub {
  scale: 225%;
  color: #000;
}

.socials-logo-wrapper:hover {
  background: #d6d6d6c3;
}

.profile-pic-container p {
  position: absolute;
  right: 8vw;
  top: 8vh;
  text-align: right;
  font-size: 0.8rem;
}

.profile-pic {
  scale: 115%;
  padding-right: 6vw;
  margin-top: -6vh;
}
