.about-page-container {
  position: relative;
  background: #fff;
  padding-top: 8vh;
}

.about-hero-text-container {
  display: flex;
  flex-direction: row;
  min-height: 70vh;
  min-width: 84vw;
  padding: 0 8vw;
}

.profile-pic-container {
  width: 40vw;
  position: relative;
  overflow: visible;
}

.profile-pic-container img {
  position: absolute;
  left: -5vw;
  bottom: 0;
  max-height: 77.5vh;
  width: auto;
  object-fit: cover;
}

.about-hero-text-wrapper {
  display: flex;
  flex-direction: column;
  width: 44vw;
  padding-right: 8vw;
  padding-bottom: 4vh;
}

.about-hero-text-wrapper h1,
.about-hero-text-wrapper h2,
.about-hero-text-wrapper p {
  color: #000;
}

.about-hero-text-wrapper h1 {
  font-size: 4rem;
  font-weight: 1000;
  padding-top: 2vh;
}

.about-hero-text-wrapper h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 300;
  padding-top: 1vh;
}

.about-hero-text-wrapper p {
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 1.5rem;
  padding-top: 2vh;
}

hr {
  margin: 4vh 0;
}

.past-present-future-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4vh;
}

.past-present-future-wrapper {
  max-width: 16vw;
}

.past-present-future-container h3,
.past-present-future-container p {
  color: #000;
}

.past-present-future-container h3 {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.past-present-future-container p {
  font-size: 0.75rem;
  line-height: 1.35rem;
}

.quick-facts-container {
  min-height: 75vh;
  min-width: 84vw;
  padding: 0 8vw;
  background: #fcda69;
  padding: 8vh 8vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quick-facts-column-one,
.quick-facts-column-two {
  width: 38vw;
}

.quick-facts-container h2 {
  font-size: 3.5rem;
  line-height: 4.5rem;
  color: #000;
}

.quick-facts-container h3 {
  font-size: 1.3rem;
  font-weight: 1000;
  margin-top: 2rem;
}

.quick-facts-container p {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.75rem;
  padding-top: 0.35rem;
}
