.about-page-container {
  position: relative;
  background: #fff;
  padding-top: 8vh;
}

.about-hero-text-container {
  display: flex;
  flex-direction: row;
  min-height: 70vh;
  min-width: 84vw;
  padding: 0 8vw;
}

.profile-pic-container {
  width: 40vw;
  position: relative;
  overflow: visible;
}

.profile-pic-container img {
  position: absolute;
  left: -5vw;
  bottom: 0;
  max-height: 77.5vh;
  width: auto;
  object-fit: cover;
}

.about-hero-text-wrapper {
  display: flex;
  flex-direction: column;
  width: 44vw;
  padding-right: 8vw;
  padding-bottom: 4vh;
}

.about-hero-text-wrapper h1 {
  font-size: 4rem;
  font-weight: 1000;
  padding-top: 2vh;
  color: #000;
}

.about-hero-text-wrapper h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 300;
  padding-top: 2vh;
  color: #000;
}

.about-hero-text-wrapper p {
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 1.5rem;
  padding-top: 2vh;
  color: #000;
}

hr {
  margin-top: 3vh;
}

.second-section-template {
  min-height: 80vh;
  min-width: 84vw;
  padding: 0 8vw;
  background: #fcda69;
}
