.projects-page-container {
  position: relative;
  background: #fff;
  padding-top: 8vh;
}

.projects-hero-container {
  display: flex;
  flex-direction: row;
  min-height: 65vh;
  min-width: 84vw;
  padding: 0 8vw;
  justify-content: space-between;
}

.projects-hero-text-wrapper {
  width: 30vw;
  padding: 4vh 2vw;
}

.projects-hero-text-wrapper h1,
.projects-hero-text-wrapper h2,
.projects-hero-text-wrapper p {
  color: #000;
}

.projects-hero-text-wrapper h1 {
  font-size: 4rem;
  font-weight: 1000;
  padding-top: 2vh;
}

.projects-hero-text-wrapper h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 300;
  padding-top: 1vh;
}

.projects-hero-text-wrapper p {
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 1.5rem;
  padding-top: 2vh;
}

.projects-hero-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8vh;
  width: 50vw;
}

.projects-hero-image-wrapper img {
  object-fit: cover;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .projects-hero-text-wrapper h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 992px) {
  .projects-hero-text-wrapper h1 {
    font-size: 3.5rem;
    padding-top: 2vh;
  }

  .projects-hero-text-wrapper h2 {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }

  .projects-hero-text-wrapper p {
    font-size: 0.8rem;
    line-height: 1.3rem;
    padding-top: 2vh;
  }
}

@media screen and (max-width: 768px) {
  .projects-page-container {
    padding-top: 2vh;
  }

  .projects-hero-container {
    flex-direction: column;
    min-height: 45vh;
  }

  .projects-hero-text-wrapper {
    width: 80vw;
    text-align: center;
  }

  .projects-hero-text-wrapper h1 {
    font-size: 4rem;
    padding-top: 2vh;
  }

  .projects-hero-text-wrapper h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    padding-top: 2vh;
  }

  .projects-hero-text-wrapper p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 2vh;
  }

  .projects-hero-image-wrapper {
    display: none;
  }
}
