.contact-hero-container {
  background: #fff;
  display: flex;
  position: relative;
  padding: 14vh 8vw 0 8vw;
  min-width: 84vw;
  min-height: 75vh;
  justify-content: space-between;
}

.contact-hero-text-wrapper {
  width: 35vw;
  padding: 0 2vw;
}

.contact-hero-text-wrapper h1,
.contact-hero-text-wrapper h2,
.contact-hero-text-wrapper p {
  color: #000;
  width: 25vw;
}

.contact-hero-text-wrapper h1 {
  font-size: 4rem;
  font-weight: 1000;
}

.contact-hero-text-wrapper h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 300;
  padding-top: 1vh;
}

.contact-hero-text-wrapper p {
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 1.5rem;
  padding-top: 2vh;
}

.form-wrapper {
  width: 40vw;
  padding-top: 4vh;
  padding-right: 2vw;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.75vh;
}

input,
textarea {
  border: solid #000 0.1rem;
  border-radius: 5px;
  margin-bottom: 2vh;
}

input {
  height: 2rem;
}

textarea {
  height: 8rem;
}

input:focus,
textarea:focus {
  border: solid #8873ef 0.2rem;
}

.form-submit-button {
  background: #8873ef;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 1vh;
}

.form-submit-button:hover {
  background: #8873efc3;
  border: none;
}
