.contact-hero-container {
  background: #fff;
  display: flex;
  position: relative;
  padding: 14vh 8vw 0 8vw;
  min-width: 84vw;
  min-height: 75vh;
  justify-content: space-between;
}

.contact-hero-text-wrapper {
  width: 35vw;
  padding: 0 2vw;
}

.contact-hero-text-wrapper h1,
.contact-hero-text-wrapper h2 {
  color: #000;
  width: 25vw;
}

.contact-hero-text-wrapper h1 {
  font-size: 4rem;
  font-weight: 1000;
}

.contact-hero-text-wrapper h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 300;
  padding-top: 1vh;
}

.landing-socials-container {
  display: flex;
  margin-top: 2vh;
  align-items: center;
}

.landing-socials-container p {
  font-size: 0.7rem;
  color: #000;
  width: auto;
}

.socials-logo-wrapper {
  width: 4rem;
  height: 4rem;
  background: #ededed;
  border-radius: 50%;
  margin-left: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.linkedIn {
  scale: 175%;
  color: #000;
}

.gitHub {
  scale: 225%;
  color: #000;
}

.socials-logo-wrapper:hover {
  background: #8873ef;
  transition: 0.5s;
}

.socials-logo-wrapper:hover .linkedIn,
.socials-logo-wrapper:hover .gitHub {
  color: #fff;
}

.form-wrapper {
  width: 40vw;
  padding-top: 2.5vh;
  margin-right: -5vw;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.75vh;
}

input,
textarea {
  border: solid #000 0.1rem;
  border-radius: 5px;
  margin-bottom: 2vh;
  padding: 0.5rem;
}

input {
  height: 2rem;
}

textarea {
  height: 10rem;
  resize: none;
}

input:focus,
textarea:focus {
  border: solid #8873ef 0.2rem;
}

.form-submit-button {
  background: #8873ef;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 1vh;
  height: 2.5rem;
}

.form-submit-button:hover {
  background: #8873efc3;
  border: none;
}

/* Media Queries */

@media screen and (max-width: 992px) {
  .contact-hero-text-wrapper h1,
  .contact-hero-text-wrapper h2 {
    width: 30vw;
  }

  .contact-hero-text-wrapper h1 {
    font-size: 3.5rem;
  }

  .contact-hero-text-wrapper h2 {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .contact-hero-container {
    flex-direction: column;
    padding: 8vh 8vw;
    justify-content: unset;
  }

  .contact-hero-text-wrapper {
    width: 84vw;
    padding: 0 2vw;
  }

  .contact-hero-text-wrapper h1,
  .contact-hero-text-wrapper h2 {
    width: 80vw;
  }

  .contact-hero-text-wrapper h1 {
    font-size: 4rem;
    font-weight: 1000;
  }

  .contact-hero-text-wrapper h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 300;
    padding-top: 1vh;
  }

  .landing-socials-container {
    justify-content: end;
  }

  .form-wrapper {
    width: 84vw;
    padding-top: 5vh;
    margin-right: 0;
  }
}
