.section-container {
  background: #fff;
  display: flex;
  position: relative;
  padding: 14vh 8vw 0 8vw;
  min-width: 84vw;
  min-height: 90vh;
  justify-content: space-between;
  position: relative;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  width: 45vw;
}

.hero-text-container p,
.hero-text-container h2,
.hero-text-container h3 {
  font-weight: 1000;
  color: #000;
}

.hero-text-container p {
  font-size: 1rem;
  line-height: 3rem;
}

.hero-text-container h2 {
  font-size: 3.5rem;
  line-height: 4.5rem;
}

.hero-text-container h3 {
  font-size: 3.1rem;
  line-height: 4.5rem;
}

.hero-buttons-container {
  display: flex;
  flex-direction: row;
}

.hero-text-container button {
  margin-right: 1.2vw;
  margin-top: 3vh;
  padding: 0.9rem 1.1rem;
  font-size: 0.8rem;
  font-weight: 500;
  width: 7.5rem;
  height: 3.5rem;
}

.button-contact {
  border: none;
  border-radius: 18px;
  background: #286f6c;
  color: #fff;
}

.airplane {
  display: inline;
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
  transform: rotate(-45deg);
  scale: 105%;
}

.button-contact:hover {
  background: #286f6cc2;
}

.button-contact:hover .airplane {
  transform: rotate(0);
  transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  margin-bottom: 0;
}

.button-work {
  color: #000;
  border-radius: 18px;
}

.arrow {
  display: inline;
  scale: 150%;
  margin-left: 0.5rem;
  color: #000;
}

.button-work:hover {
  color: #8873ef;
  transition: 0.5s;
}

.button-work:hover > .arrow {
  color: #8873ef;
}

.landing-socials-container {
  display: flex;
  align-items: center;
  margin-top: 10vh;
}

.landing-socials-container p {
  font-size: 0.7rem;
  color: #000;
}

.socials-logo-wrapper {
  width: 4rem;
  height: 4rem;
  background: #ededed;
  border-radius: 50%;
  margin-left: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.linkedIn {
  scale: 175%;
  color: #000;
}

.gitHub {
  scale: 225%;
  color: #000;
}

.socials-logo-wrapper:hover {
  background: #8873ef;
  transition: 0.5s;
}

.socials-logo-wrapper:hover .linkedIn,
.socials-logo-wrapper:hover .gitHub {
  color: #fff;
}

.profile-pic-container {
  display: flex;
  flex-direction: column;
}

.profile-pic-container p {
  text-align: right;
  font-size: 0.8rem;
}

.profile-pic {
  min-width: 45vw;
  padding-right: 6vw;
  margin-top: -12vh;
}

.scroll-down-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10%;
  right: 8%;
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  font-weight: 100;
  transform: rotate(270deg);
}

.scroll-down-wrapper p {
  border-bottom: #000 solid 0.1rem;
  width: 9rem;
  height: 9rem;
}

.scroll-down-wrapper h6 {
  position: absolute;
  bottom: -5%;
  left: 120%;
  width: 15vh;
  margin-left: -1.5vh;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .hero-text-container h2 {
    font-size: 3rem;
    line-height: 4rem;
  }

  .hero-text-container h3 {
    font-size: 2.6rem;
    line-height: 4rem;
  }

  .profile-pic {
    padding-right: 5vw;
  }
}

@media screen and (max-width: 992px) {
  .hero-text-container p {
    font-size: 0.8rem;
    line-height: 2.5rem;
  }

  .hero-text-container h2 {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .hero-text-container h3 {
    font-size: 1.5rem;
    line-height: 2.8rem;
  }

  .profile-pic-container p {
    text-align: right;
    font-size: 0.7rem;
  }

  .profile-pic {
    margin-top: -7.5vh;
  }
}

@media screen and (max-width: 768px) {
  .section-container {
    flex-direction: column;
    margin-top: 0;
    padding-top: 6vh;
  }

  .hero-text-container {
    width: 84vw;
  }

  .hero-text-container p {
    font-size: 0.8rem;
    line-height: 2rem;
  }

  .hero-text-container h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .hero-text-container h3 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .landing-socials-container {
    display: none;
  }

  .profile-pic-container {
    width: 84vw;
  }

  .profile-pic {
    margin-top: -12.5vh;
    padding-right: 0;
  }

  .profile-pic-container p {
    font-size: 0.7rem;
  }

  .scroll-down-wrapper {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .section-container {
    justify-content: unset;
    width: 100vw;
  }

  .hero-text-container {
    margin-bottom: 2.5vh;
  }

  .hero-text-container button {
    margin-right: 0.5vw;
    margin-top: 2vh;
    padding: 0.6rem 0.8rem;
    font-size: 0.6rem;
    width: 6rem;
    height: 3rem;
  }

  .profile-pic-container p {
    font-size: 0.65rem;
  }

  .profile-pic {
    padding-top: 10vh;
  }
}

@media screen and (max-width: 375px) {
  .section-container {
    justify-content: unset;
  }

  .hero-text-container {
    width: 85vw;
  }

  .hero-text-container p {
    font-size: 0.7rem;
    line-height: 1.5rem;
  }

  .hero-text-container h2 {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .hero-text-container h3 {
    font-size: 1.1rem;
    line-height: 2.2rem;
  }

  .profile-pic-container {
    width: 85vw;
    margin-top: 1.5vh;
  }

  .profile-pic-container p {
    font-size: 0.6rem;
    padding-top: 1.5vh;
  }

  .profile-pic {
    padding-top: 15vh;
  }
}
