.section-container {
  background: #fcda69;
  display: flex;
  position: relative;
  padding: 8vh 8vw 0 8vw;
  min-width: 84vw;
  min-height: 90vh;
  justify-content: space-between;
}

.hero-text-container {
  margin-top: 0.5vh;
}

.hero-text-container p,
.hero-text-container h2,
.hero-text-container h3 {
  font-weight: 1000;
  color: #000;
}

.hero-text-container p {
  font-size: 1rem;
  line-height: 3rem;
}

.hero-text-container h2 {
  font-size: 3.5rem;
  line-height: 4.5rem;
}

.hero-text-container h3 {
  font-size: 3.1rem;
  line-height: 4.5rem;
  margin-bottom: 10vh;
}

.contact-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 35vw;
  border-top: #000 solid 0.1rem;
  padding: 3vh 0;
}

.icon-wrapper {
  background: #ededed;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
}

.icon {
  scale: 200%;
}

.contact-details p {
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #000;
}

.contact-details h4 {
  font-size: 1rem;
  font-weight: 900;
  color: #000;
}

.email-h4:hover {
  opacity: 50%;
}

.round-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
}

.round-wrapper {
  border: solid #000 0.1rem;
  border-radius: 50%;
  width: 28rem;
  height: 28rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.round-wrapper p {
  font-size: 1.5rem;
}

.button-wrapper {
  background: #8873ef;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  color: #fff;
}

.arrow {
  scale: 250%;
}

.button-wrapper:hover {
  background: #8873efc3;
  cursor: pointer;
}

.shape {
  position: absolute;
  bottom: 35%;
  right: 18%;
  transform: rotate(18deg);
  border-top: #000 solid 0.1rem;
  width: 20rem;
}

.quote {
  position: absolute;
  bottom: 15%;
  text-align: right;
}

.quote p {
  font-size: 0.8rem;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .icon-wrapper {
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .icon-wrapper {
    width: 3rem;
    height: 3rem;
  }

  .icon {
    scale: 175%;
  }

  .contact-details p {
    font-size: 0.7rem;
  }

  .contact-details h4 {
    font-size: 0.85rem;
  }

  .round-container {
    width: 42.5vw;
  }

  .round-wrapper {
    width: 22rem;
    height: 22rem;
  }

  .round-wrapper p {
    font-size: 1rem;
  }

  .button-wrapper {
    width: 5rem;
    height: 5rem;
  }

  .quote p {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .section-container {
    padding: 4vh 8vw 0 8vw;
  }

  .hero-text-container p {
    font-size: 0.85rem;
    line-height: 2.5rem;
  }

  .hero-text-container h2 {
    font-size: 3rem;
    line-height: 4rem;
  }

  .hero-text-container h3 {
    font-size: 2.6rem;
    line-height: 4rem;
  }

  .contact-details {
    width: 40vw;
  }

  .icon-wrapper {
    display: none;
  }

  .round-container {
    width: 35vw;
  }

  .round-wrapper {
    width: 15rem;
    height: 15rem;
  }

  .round-wrapper p {
    font-size: 0.8rem;
  }

  .button-wrapper {
    width: 3.5rem;
    height: 3.5rem;
  }

  .arrow {
    scale: 200%;
  }

  .quote p {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .section-container {
    width: 100vw;
    padding: 4vh 8vw 0 8vw;
    flex-direction: column;
  }

  .contact-details {
    width: 80vw;
  }

  .icon-wrapper {
    display: flex;
    margin-right: 2.5rem;
  }

  .round-container {
    display: none;
  }
}
