.border {
  border-top: solid #000 0.15rem;
  position: absolute;
  left: 8%;
  right: 8%;
}

.main-footer-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 6vh 8vw;
  background: #000;
}

.logo-copyright-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-footer-container img {
  width: 2rem;
  margin-right: 1.5rem;
}

.main-footer-container img:hover {
  opacity: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.main-footer-container p {
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
}

.footer-links {
  display: flex;
  flex-direction: row;
  width: 15vw;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 900;
  color: #fff;
}

.footer-links a:hover {
  cursor: pointer;
  opacity: 50%;
  transition: 0.5s;
}

.email:hover {
  opacity: 50%;
  cursor: pointer;
  transition: 0.5s;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .footer-links {
    width: 20vw;
  }
}

@media screen and (max-width: 992px) {
  .main-footer-container p {
    font-size: 0.7rem;
  }

  .main-footer-container img {
    width: 1.8rem;
    margin-right: 1.2rem;
  }

  .footer-links {
    width: 20vw;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .main-footer-container img {
    width: 1.5rem;
  }

  .email {
    display: none;
  }

  .footer-links {
    width: 30vw;
  }
}

@media screen and (max-width: 576px) {
  .main-footer-container {
    width: 100vw;
    justify-content: center;
  }

  .main-footer-container img {
    width: 1.5rem;
    margin-right: 1.2rem;
  }

  .main-footer-container p {
    font-size: 0.6rem;
  }

  .footer-links {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .main-footer-container {
    justify-content: center;
  }
}
