.main-navbar-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3vh 8vw 2vh 8vw;
  background: #fff;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
}

.logo-container:hover {
  opacity: 60%;
}

.logo-container img {
  width: 4rem;
}

.logo-text {
  font-size: 1.2rem;
  margin-left: 1vw;
  line-height: 1.4rem;
  font-weight: 1000;
}

.navbar-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-links-container {
  display: flex;
  flex-direction: row;
}

.inner-links-container p {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 2vw;
  cursor: pointer;
}

.inner-links-container p:hover {
  color: #286f6cc3;
  border-left: solid #286f6c 0.15rem;
  border-right: solid #286f6c 0.15rem;
  border-radius: 10px;
  padding: 0 0.6vw;
  margin: 0 1.3vw;
}

.cv-button {
  border: solid #000 0.01rem;
  border-radius: 18px;
  padding: 0.7rem 1.1rem;
  font-size: 0.8rem;
  font-weight: 500;
  background: #fff;
}

.arrow {
  display: inline;
  scale: 150%;
  margin-left: 0.5rem;
  color: #000;
}

.cv-button:hover {
  border: solid #8873ef 0.01rem;
  color: #8873ef;
}

.cv-button:hover > .arrow {
  color: #8873ef;
}
