.main-navbar-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3vh 8vw 2vh 8vw;
  background: #fff;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
}

.logo-container:hover {
  opacity: 60%;
  transition: 0.5s;
}

.logo-container img {
  width: 3rem;
}

.logo-text {
  font-size: 1rem;
  margin-left: 0.5vw;
  line-height: 1rem;
  font-weight: 1000;
}

.navbar-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-links-container {
  display: flex;
  flex-direction: row;
}

.inner-links-container a {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 2vw;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.inner-links-container a:hover {
  color: #8873ef;
  transition: 0.5s;
  text-decoration: underline #8873ef 0.25rem;
  text-underline-offset: 0.5rem;
}

.cv-button {
  border: solid #000 0.01rem;
  border-radius: 18px;
  padding: 0.7rem 1.1rem;
  font-size: 0.8rem;
  font-weight: 500;
  background: #fff;
}

.arrow {
  display: inline;
  scale: 150%;
  margin-left: 0.5rem;
  color: #000;
}

.cv-button:hover {
  border: solid #8873ef 0.01rem;
  color: #8873ef;
  transition: 0.5s;
}

.cv-button:hover > .arrow {
  color: #8873ef;
}

.hamburger-menu-container,
.hamburger-close-icon {
  display: none;
}

.hamburger-menu-icon,
.hamburger-close-icon {
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 992px) {
  .logo-container img {
    width: 2.8rem;
  }

  .logo-text {
    font-size: 0.9rem;
    margin-left: 0.5vw;
    line-height: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .logo-container img {
    width: 2.5rem;
  }

  .logo-text {
    font-size: 0.9rem;
    margin-left: 0.5vw;
    line-height: 0.9rem;
  }

  .inner-links-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    line-height: 11vh;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    z-index: 10;
    transition: 1s;
    transform: translateY(-100vh);
  }

  .responsive-navbar {
    transform: none;
  }

  .inner-links-container a {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
    color: #fff;
  }

  .inner-links-container a:hover {
    text-decoration: none;
  }

  .cv-button {
    display: none;
  }

  .hamburger-menu-container {
    display: flex;
    justify-content: right;
  }

  .hamburger-close-icon {
    display: flex;
    color: #fff;
    position: absolute;
    right: 8vw;
    top: 5vh;
  }

  .hamburger-close-icon:hover {
    color: #8873ef;
    transition: all 0.2s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .hamburger-menu-icon,
  .hamburger-close-icon {
    scale: 125%;
  }
}

@media screen and (max-width: 576px) {
  .hamburger-menu-icon {
    scale: 115%;
  }
}
