@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
  margin: 0 8%;
  scroll-behavior: smooth;
}
